body {
margin:0px;
padding;0px;
box-sizing:border-box;
text-decoration:none;
background:url
}
.max-width{
max-width:1300px;
padding:0 80px;
margin:auto;
}
.navbar {
position:fixed;
width:100%;
z-index:999;
padding:30px 0;
font-family:'ubuntu', sans-serif;
}
.navbar .max-width {
display:flex;
align-items:center;
justify-content:space-between;
}
.navbar .logo a {
font-size:35px;
font-weight:600px;
color:crimson;
}
.navbar .logo a span {
color:black;
}
.navbar .menu li {
list-style:none;
display:inline-block;
}
.navbar .menu li a {
color:crimson;
font-weight:500;
margin-left:25px;
}
.navbar .menu li a:hover
{
color:black;
}
.home {
display:flex;
background:url("https://media.istockphoto.com/photos/blank-screen-laptop-picture-id877745256?k=6&m=877745256&s=612x612&w=0&h=NBMsls-muTIM87lAXOOZXDoaZccSLqg1yvQmJV7vPxg=")no-repeat center;
height:100vh;
color:black;
min-height:500px;
font-family:'ubuntu', sans-serif;
}
.home .max-width {
margin: auto 0 auto 40px;
}
.home .home-content .text-1{
font-size:27px;
}
.home .home-content .text-2{
font-size:75px;
font-weight:600;
margin-left:-3px;
}
.home .home-content .text-3{
font-size:40px;
margin:5px 0;
}
.about{
font-family: 'poppins', sans-serif;
}
.about .title {
position:relative;
text-align:center;
font-size:40px;
font-weight:500;
margin-bottom:60px;
padding-bottom:20px;
font-family: 'ubuntu', sans-serif;
}
.about .title::before{
content:"";
position:absolute;
bottom:0px;
left:50%;
width:180px;
height:3px;
background:black;
transform:translateX(-50%);
}
.about .title::after{
content:"WHO I AM";
position:absolute;
bottom:-15px;
left:50%;
font-size:20px;
color:crimson;
padding:5px;
background:white;
transform:translateX(-50%);
}
* {
  box-sizing: border-box;
}
.column1 {
color:black;
  float: left;
  width: 50%;
  padding: 40px;
  height: 350px;
}
.column1:hover
{
color:white;
}
.column2 {
color:black;
  float: left;
  width: 50%;
  padding: 20px;
  height: 350px;
}
.column2:hover
{
color:white;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.skills{
font-family: 'poppins', sans-serif;
}
.skills .title {
position:relative;
text-align:center;
bottom:-30px;
font-size:40px;
font-weight:500;
margin-bottom:130px;
padding-bottom:20px;
font-family: 'ubuntu', sans-serif;
}
.skills .title::before{
content:"";
position:absolute;
bottom:0px;
left:50%;
width:180px;
height:3px;
background:black;
transform:translateX(-50%);
}
.skills .title::after{
content:"INTEREST";
position:absolute;
bottom:-15px;
left:50%;
font-size:20px;
color:crimson;
padding:5px;
background:white;
transform:translateX(-50%);
}
#game1 img{
position:relative;
right:-250px;
bottom:-40px;
}
#game1:hover
{
border: 5px solid black;
}
#game2 img{
position:relative;
bottom:260px;
right:-850px;
}
#game2:hover
{
border: 5px solid black;
}
#game3 img{
position:relative;
right:-300px;
bottom:80px;
}
#game3:hover
{
border: 5px solid black;
}
#game4 img{
position:relative;
right:-900px;
bottom:350px;
}
#game4:hover
{
border: 5px solid black;
}
#game5 img{
position:relative;
bottom:200px;
right:-800px;
}
#game5:hover
{
border: 5px solid black;
}
#game6 img{
position:relative;
right:-270px;
bottom:440px;
}
#game6:hover
{
border: 5px solid black;
}
#game7 img{
position:relative;
right:-200px;
bottom:290px;
}
#game7:hover
{
border: 5px solid black;
}
#game8 img{
position:relative;
right:-500px;
bottom:200px;
}
#game8:hover
{
border: 5px solid black;
}
#game9 img{
position:relative;
right:-900px;
bottom:870px;
}
#game9:hover
{
border: 5px solid black;
}
.achievements{
font-family: 'poppins', sans-serif;
}
.achievements .title {
position:relative;
text-align:center;
bottom:350px;
right:-20px;
font-size:40px;
font-weight:500;
margin-bottom:-300px;
padding-bottom:20px;
font-family: 'ubuntu', sans-serif;
}
.achievements .title::before{
content:"";
position:absolute;
bottom:0px;
left:50%;
width:250px;
height:3px;
background:black;
transform:translateX(-50%);
}
.achievements .title::after{
content:"My Certifications ";
position:absolute;
bottom:-13px;
left:50%;
font-size:20px;
color:crimson;
padding:5px;
background:white;
transform:translateX(-50%);
}
* {
  box-sizing: border-box;
}
.column1 {
  float: left;
  width: 50%;
  padding: 40px;
  height: 350px;
}
.column2 {
  float: left;
  width: 50%;
  padding: 20px;
  height: 350px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.contact{
font-family: 'poppins', sans-serif;
}
.contact .title {
position:relative;
text-align:center;
bottom:-10px;
right:-20px;
font-size:40px;
font-weight:500;
margin-bottom:100px;
padding-bottom:20px;
font-family: 'ubuntu', sans-serif;
}
.contact .title::before{
content:"";
position:absolute;
bottom:0px;
left:50%;
width:250px;
height:3px;
background:black;
transform:translateX(-50%);
}
.contact .title::after{
content:"Get in touch";
position:absolute;
bottom:-13px;
left:50%;
font-size:20px;
color:crimson;
padding:5px;
background:white;
transform:translateX(-50%);
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
* {
  box-sizing: border-box;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}